<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinyxn.tabtest2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NextActivity"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity android:name=".DetailActivity">
            <intent-filter>
                <!--自定义动作   就像intent.ACTION_DIAL(打电话)一样-->
                <action android:name="com.action.DETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--自定义编辑方式 3者缺一不可-->
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>

            <!--自定义打开方式-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>

        </activity>
    </application>

</manifest>
